<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyCo on Google Map Assignment</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="/css/maps.css" />
    <script src="/js/maps.js"></script>
</head>
<body>

    <p id="heading1">MyCo on Google Maps</p>
    <div id="map"></div>
    <div id="legend">
        <h3> Legend </h3>
    </div>
    
    <script 
        src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBiHhCH8Knht5wGVKlA0AYh761G4cY7gO8&callback=initMap&libraries=&v=weekly"
        async defer>
    </script>
    
</body>
</html>